{% extends 'base.html' %} {% block content %}



<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img class="card-img-top" src="/static/assets/db.jpg" alt="Card image cap">
      </div>
      <div class="col-lg-9">
        <h2 class="card-title">Doug Borrmann</h2>
        <h5 class="card-title">M.S., Licensed Associate Counselor (LAC)</h5>
        <br>

        <p class="lead">Doug received his Master’s degree in Professional Counseling from Grand Canyon University in 2017. Prior to his entrance
          into the world of mental health, he obtained his Bachelor’s degree in Music from Arizona State University and embarked
          on a fourteen-year career as a professional musician. He served as the director of music for several large churches
          and has been involved in ministry for the majority of his life. He feels this time serves his counseling career
          well because he worked with a wide variety of people from many different backgrounds.</p>

        <p class="lead">Doug’s focus on mental health began in 2010 after the suicide of a close family member. He went to counseling shortly
          thereafter to help process that loss and learn more about himself. Since then his studies have helped him achieve
          insight into his thought process and how it affects his emotions and behaviors. He has worked on addressing his
          core issues of insecurity, fear, frustration, and sadness. Processing his family history, as well as celebrating
          the things that bring him the most joy, has also helped him achieve a healthy emotional balance.</p>

        <p class="lead">Doug believes that the most important way one can steward their time and God-given abilities is by working toward
          quality mental health. He feels greatly rewarded by the growth and progress of those with whom he is fortunate
          enough to work.</p>

        <p class="lead">Doug is a strong advocate for life/work balance. He spends time with his wife, two children, friends and co-workers,
          and pursues continued growth in his passions, music and golf.</p>

      </div>
    </div>
  </div>
</div>






{% endblock %}