{% extends 'base.html' %}
        

  {% block content %}

       
<div id="forms">
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
            
                    <div class="card">
                            <div class="card-header text-center"> <h1 class="display-4">Forms</h1></div>
                            <div class="card-body text-center">
                              <p class="lead">In an effort to be the best steward of your time and financial resources, it is requested that you download and fill out the following 
                                  paperwork prior to your first appointment.  Doing so will allow you to get the most out of your first session and provide you with 
                                  insight into what will be discussedin that first session. Thank you in advance for taking a few moments to complete this step.
                              </p>
<br>
                              <a class="btn btn-primary btn-lg btn-block" href="https://drive.google.com/open?id=1RY1gsNjB8zfYry7NQE6lFdVhxEGS5iWM" role='button'>Informed Consent</a><br>
                              <a class="btn btn-primary btn-lg btn-block" href="https://drive.google.com/open?id=1kygT9-KQK9Zn9guJQt1rEt0aFUu4X0DA" role='button'>Intake</a><br>
                              <a class="btn btn-primary btn-lg btn-block" href="https://drive.google.com/open?id=1g7mHABqZ_BRjkz5mnIlQddEgMAWXm5YB" role='button'>Electronic Communication Consent</a><br>
                              <a class="btn btn-primary btn-lg btn-block" href="https://drive.google.com/open?id=1aUpX0VkW5CJ55le-s5reccWI1XyLLRPa" role='button'>Consent to Record</a><br>
                              <a class="btn btn-primary btn-lg btn-block" href="https://drive.google.com/open?id=1X9R5yvXEyYHjslim_UHQoo50C3FoocsG" role='button'>Supervisor Acknowledgement</a><br>
                              
                            </div>
                          </div> 
                </div>
            </div>
       

            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
</div>
{% endblock %}