 {% extends "base.html" %} {% block content %}
<div id="home">
  <div class="container"></div>
  <div class="padding">

    <div class="row text-center display-block">
      <div class="col-sm-6"></div>
      <div class="col-sm-5">
        <div class="card card-pic">
          <h1 class="ontop">Encourage Enrich Empower</h1>
          <br>
          <p class="ontop">Welcome to Doug Borrmann Christian Counseling. The mission of my practice is to Encourage you in the midst of your
            difficult seasons, to Enrich your life through education and customized strategies to achieve personal goals,
            and to Empower you with resources that will help you live each day to its maximum potential.
          </p>
          <br>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
</div>
</div>

<div class="padding padding-home">
  <div class="container">
    <div class="row">
      <div class="card-deck text-center">
        <div class="card">
          <img class="card-img-top" src="/static/assets/adventure-backlit-clouds-772665.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">-Encourage-</h4>
            <p class="lead">Isaiah 35:1-4 God’s word promises that the “wasteland will rejoice and blossom” and that “wilderness and desert
              will be glad” once again. We are called to “strengthen those who have tired hands and encourage those who have
              weak knees.” We all need regular doses of encouragement and I place a high value on having a listening ear
              and providing an encouraging message to those who are in troubled places.
            </p>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/static/assets/bible-book-book-bindings-1112048.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">-Enrich-</h4>
            <p class="lead">Proverbs 8:11 Wisdom is truly more valuable than gold. It comes in many forms and from many sources. I believe
              the path of self-exploration is a place where wisdom is gained. Learning about yourself is an amazing way to
              fine tune your strengths and discover what will work best for you in your effort to be your best self. I will
              help you walk along the path of self-exploration and provide insights along the way.
            </p>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/static/assets/backlit-beach-christian-356642.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">-Empower-</h4>
            <p class="lead">Ephesians 6:13-17 We are given by God many resources that provide us with strength when we need it most. The
              armor of God is a metaphor that informs us to live in truth, righteousness, peace, faith, salvation, and with
              the Spirit. I believe we all have personal expressions for these resources and it is my goal to help you realize
              them so that when the storms of life come you will be empowered and prepared.
            </p>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</div>






{% endblock %}