{% extends "base.html" %}

{% block content %}

<div class="padding2">
    <div class="row">   
        <div class="jumbotron jumbotron-fluid">
    <div class="container">
      
      </div>
  </div>
</div>
</div>
<div class="container-fluid text-center">
    <h1 class="display-4">Two locations for your convenience</h1>
</div>

    
        
          <div class="padding2">
            <div class=container>

            

            <div class="card-deck">
                    <div class="card">
                            <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5177.598048954005!2d-111.91477620117628!3d33.46769118630563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b097b78f8aa15%3A0x548fed223791139!2s1717+N+77th+St+%2315%2C+Scottsdale%2C+AZ+85257!5e0!3m2!1sen!2sus!4v1531158253161" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                            <div class="card-body">
                        <h5 class="card-title">Scottsdale Location</h5>
                        <p class="card-text">Parkview Office Building</p>
                        <p class="card-text">1717 N 77th St, Scottsdale, AZ 85257</p> 
                        <p>Suite 15</p>
                        <p>Available Monday and Saturday</p>
                      </div>
                    </div>
        
                    <div class="card">
                            <div class="map-responsive">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.6999307061647!2d-112.12443828529342!3d33.587139480734976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b6c145299df2b%3A0xb38a71691c51655d!2s11024+N+28th+Dr%2C+Phoenix%2C+AZ+85029!5e0!3m2!1sen!2sus!4v1531334386365" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                      <div class="card-body">
                            <h5 class="card-title">Phoenix Location</h5>
                            <p class="card-text">Lake Biltmore Corprate Center</p>
                            <p>11024 N 28th Dr. Phoenix, AZ 85257</p> 
                            <p>Suite 200</p>
                            <p>Available Friday</p>
                          </div>
                    </div>
                  </div>
                </div>
        
              </div>
    
    {% endblock content %}