{% extends 'base.html' %} {% block content %}
<div id="serv">
  <div class="padding">
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-sm-6 col-xs-12">
          <div class="card card-pic2">
            <div class="card-body">

              <h1 class="display-4">Services</h1>

              <p>Doug is passionate about working with anyone who desires to become their best self. He believes that emotional
                regulation is the keystone to that ambition. He is educated and trained in dealing with a variety of difficult
                but common issues and loves to share his insight in the effort to help others achieve their personal goals.
                He is competent in the treatment of:</p>
              <div class="row">
                <div class="col">

                  <p>Anxiety</p>
                  <p>Depression</p>
                  <p>Trauma</p>
                  <p>Coping Skills</p>
                  <p>Boundary Setting</p>
                  <p>Relationships</p>
                  <p>Cognitive Behavioral Therapy</p>
                </div>
                <div class="col">
                  <p>Addictions</p>
                  <p>Communication</p>
                  <p>Marital Issues</p>
                  <p>Grief Recovery</p>
                  <p>Emotional Health</p>
                  <p>Self-Esteem</p>
                  <p>Eye Movement Desensitization and Reprocessing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}